```
Write a query to list out only captains who have never had a shipment
```

In [4]:
use shoretoshore;
select lname,fname
from captain where capt_id not in 
(select capt_id from shipment);

lname,fname
Levinchuck,Phillip

<span style="font-size: 20pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">Write a query to list all ships that have a capacity greater than the average capacity for all ships.</span>

In [5]:
select ship_no from ship
where capacity > (select avg(capacity) from ship);

ship_no
37
39
6

<span style="font-size: 20pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">Modify the query in number 2 to use the average capacity for the class of ship</span>

In [6]:
select ship_no from ship
where capacity > (select avg(capacity) from ship s1 
where s1.class = ship.class);

ship_no
39
6
16
10

<span style="font-size: 20pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">find all captains of ships that carried concrete forms at some point in time</span>

In [4]:
use shoretoshore;
select lname,fname
from captain inner join shipment
on captain.capt_id = shipment.capt_id
where shipment_id in (select shipment_id
from shipment_line inner join item
on item.item_no = shipment_line.item_no
where description = 'Concrete Forms');

lname,fname
Smith,Mark
Rice,Paul
Levine,Sal
Smith,John

<span style="background-color: transparent; font-size: 20pt; white-space-collapse: preserve; color: rgb(34, 34, 34); font-family: Arial, sans-serif;">Find manufacturers of ships that have been loaded above capacity.</span>

In [9]:
use shoretoshore;
select name from manufacturer
where manufacturer_id in (
    select manufacturer_id from ship
    inner join shipment on shipment.ship_no = 
    ship.ship_no inner join 
    (select shipment_id, sum(weight*quantity) as totweight
    from shipment_line inner join item
    on item.item_no = shipment_line.item_no
    group by shipment_id) shpwt
    on shpwt.shipment_id = shipment.shipment_id
    where capacity < shpwt.totweight);

name
United Ship Builders
General Ship Builders
Master Dynamics
Asia West Ship Builders
Best Industries